.DS_Store
*.sw*
Makefile
*.tar*
blib
*-stamp
debian/files
debian/tmp
debian/substvars
pm_to_blib
debian/*.log
*.tmp
*.old
*.bak
README
MYMETA.yml
MYMETA.json
doc/bootstrap.pod
doc/html
*.txt
screencasts
