Alex Mestiashvili <amestia@rsh2.donotuse.de> <mailatgoogl@gmail.com>
Alexander Romanenko <alex1line@gmail.com>
Anders Ossowicki <and@vmn.dk> <aowi@novozymes.com>
Andrej Zverev <andrej.zverev@gmail.com> <az@sunner.semmy.ru>
Andy Beverley <andy@andybev.com> <a.beverley@ctrlo.com>
Brian Manning <cpan@xaoc.org> <brian@xaoc.org>
Chris Steigmeier <chris@hypernet.ch>
Daniel Bäurer <daniel.baeurer@gmail.com>
Daniel Bäurer <daniel.baeurer@gmail.com> <daniel.baeurer@web.de>
Eric Johnson <eric.git@iijo.org> <github@iijo.org>
Erik Huelsmann <ehuels@gmail.com> ehuelsmann <none@none>
Harm Müller <harm.mueller@gmail.com> <harm.mueller@inovex.de>
Hayato Imai <hayajo@cpan.org>
Hiroki Matsuo <xornelius0313@gmail.com>
Jan Gehring <krimdomu@googlemail.com>
Jan Gehring <krimdomu@googlemail.com> <drandor@outlook.com>
Jan Gehring <krimdomu@googlemail.com> <jan.gehring@inovex.de>
Jan Gehring <krimdomu@googlemail.com> <jan.gehring@yandex.com>
Jan Gehring <krimdomu@googlemail.com> <krimdomu@users.noreply.github.com>
Jean Charles Passard <jcharles@PC-BUNNY.comics.local>
Jean-Marie Renouard <jmrenouard@gmail.com>
Joris DE POOTER <jorisd@gmail.com>
Joris DE POOTER <jorisd@gmail.com> <joris.depooter@diabolocom.com>
Joris DE POOTER <jorisd@gmail.com> <jorisd@users.noreply.github.com>
Nathan Abu <aloha2004@gmail.com>
Nathan Abu <aloha2004@gmail.com> <aloha2004@gmail.com.com>
Nathan Abu <aloha2004@gmail.com> <naabu@cisco.com>
Olivier Cherrier <oc@symacx.com> <oc@stanislas.symacx.com>
Pavel Timofeev <timp87@gmail.com>
perlancar <perlancar@gmail.com>
Peter H. Ezetta <protocall7@gmail.com> protoCall7 <protoCall7@gmail.com>
Prajithp <prajithpalakkuda@gmail.com>
Prajithp <prajithpalakkuda@gmail.com> <prajith@mlinternal.com>
Renée Bäcker <github@renee-baecker.de>
Samuele Tognini <samuele@samuele.netsons.org> <samuele@samuee.netsons.org>
Sascha Guenther <sascha@argc.de> <sg@gitco.de>
Solène Rapenne <solene@dataswamp.org>
Solène Rapenne <solene@dataswamp.org> <solene.rapenne@gmail.com>
Solène Rapenne <solene@dataswamp.org> <solene@perso.pw>
Tokuhiro Matsuno <tokuhirom@gmail.com>
Volker Kroll <kroll@strato-rz.de>
Yegor Korablev <vividsnow@gmail.com>
范野人 <fanyeren@gmail.com> <fanyreren@gmail.com>
饶琛琳 <rao.chenlin@gmail.com>
