Source: rex
Section: system/utils
Priority: standard
Maintainer: Jan Gehring <jan.gehring@gmail.com>
Build-Depends: debhelper (>> 5.0.0), dpkg-dev (>= 1.10.23), lsb-release
Standards-Version: 3.7.2
Homepage: https://github.com/krimdomu/-R--ex

Package: rex
Architecture: all
Depends: perl
Description: REmote eXecute. Execute commands on remote machines.
