Source: rex
Section: admin
Priority: optional
Maintainer: Jan Gehring <jan.gehring@gmail.com>
Build-Depends: debhelper (>= 7),
                  libnet-ssh2-perl (>= 0.33),
                  perl (>= 5.10.0),
                  libjson-xs-perl,
                  libxml-simple-perl,
                  libwww-perl,
                  libdigest-hmac-perl,
                  libexpect-perl,
                  libdbi-perl,
                  libyaml-perl
Standards-Version: 3.9.1
Homepage: http://rexify.org/

Package: rex
Architecture: all
Depends: ${misc:Depends},
            ${perl:Depends},
            libnet-ssh2-perl (>= 0.33),
            libwww-perl,
            libxml-simple-perl,
            libdigest-hmac-perl,
            libexpect-perl,
            libjson-xs-perl,
            libyaml-perl,
            libdbi-perl
Description: Remote Execution
 (R)?ex is a small script to ease the execution of remote commands. You can
 write small tasks in a file named Rexfile.
 .
 You can find examples and howtos on http://rexify.org/.
